*{
    margin:0;
    padding: 0px;
    box-sizing: border-box;
}

.cardcon{
    .cardrow{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .cardcol{
            width:30%;
            padding: 10px;
            border: 1px solid black;
            margin: 10px;
            .cardimg{
                width:100%;
                img{
                    width:100%
                }
            }
        }
    }
}